    
           <div class="table-responsive panel panel-success">
            <table class="table table-striped table-bordered " cellspacing="0">
                <thead>
                     <tr>   
                           
                        <th style="background-color:skyblue;" class="text-center">Name</th>
                        <th style="background-color:skyblue;" class="text-center">Title</th>
                        <th style="background-color:skyblue;" class="text-center">FirNo</th>              
                        <th style="background-color:skyblue;" class="text-center">PoliceStation</th>
                        <th style="background-color:skyblue;" class="text-center">Statute</th>   
                        <th style="background-color:skyblue;" class="text-center">Action</th>   
                    </tr>        
                </thead>
    
         
                <tbody class="text-center" *ngFor="let item of childlist">
                    <tr *ngFor="let itemchild of item.listCaseNature">
                        
                        <td class="align-right">
                            {{itemchild.name}} 
                            
                        </td>
                        <td class="align-right">
                             {{itemchild.title}} 
                        </td>
                        <td class="align-right">
                              {{itemchild.firNo}} 
                        </td>
                        <td class="align-right">
                          {{itemchild.policeStation}} 
                        </td>
                        <td class="align-right">
                            {{itemchild.statute}} 
                          </td>
    
                         <td class="align-right">
                            <div class="btn-group">
                                <button ngClass="status-button btn btn-xs btn-primary" (click)="OnSelect(itemchild)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button ngClass="status-button btn btn-xs btn-danger" (click)="onDelete(itemchild)"><i class="fa fa-trash-o"></i></button>
        
                            </div>      
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
