<p>case works!</p>
<div class="form-group row">
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='inputAccountNo' class='form-control-label'>Title</label>
            <input type='text' class='form-control' id='Rupees' [(ngModel)]=' objUserCase.title' placeholder='Title'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='StartTime' class='form-control-label'>Status</label>
            <input type='text' class='form-control' id='Status' [(ngModel)]='objUserCase.status' placeholder='Status'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='EndTime' class='form-control-label'>Fee</label>
            <input type='number' class='form-control' id='inputUAEID' [(ngModel)]='objUserCase.fee' placeholder='Fee'>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='inputAccountNo' class='form-control-label'> Advance</label>
            <input type='number' class='form-control' id='Rupees' [(ngModel)]=' objUserCase.advance' placeholder='Advance'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='Balance' class='form-control-label'>Balance</label>
            <input type='number' class='form-control' id='Status' [(ngModel)]='objUserCase.balance' placeholder='Balance'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='Note' class='form-control-label'>Note</label>
            <input type='text' class='form-control' id='inputUAEID' [(ngModel)]='objUserCase.note' placeholder='Note'>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='LawyerFor' class='form-control-label'>LawyerFor</label>
            <input type='text' class='form-control' id='inputUAEID' [(ngModel)]='objUserCase.lawyerFor' placeholder='LawyerFor'>
            </div>
            </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
<button class ="btn btn-success btn-block"(click)="onCreate()">Save</button>
</div>
</div>
<!-- now for table -->
<div class="table-responsive panel panel-success">
    <table class="table table-striped table-bordered " cellspacing="0" >
        <thead >
            <tr>                
                <th class="text-center">Title</th>
                <th class="text-center">Status</th>
                <th class="text-center">Fee</th>              
                <th class="text-center">Advance</th>
                <th class="text-center">Balance</th>
                <th class="text-center">Note</th>               
                <th class="text-center">LawyerFor</th>
                <th class="text-center">Action</th> 
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let item of objUserCase">
                <td class="align-right">
                     <!-- <input type='text' class='form-control' id='Title' [(ngModel)]='item.Title' placeholder='Title'>  -->
                   {{item.title}} 
                </td>
                <td class="align-right">
                     <!-- <input type='number' class='form-control' id='Rupees' [(ngModel)]='item.Rupees' placeholder='Rupees'>  -->
                     {{item.status}} 
                </td>
                <td class="align-right">
                  <!-- <input type='text' class='form-control' id='StartTime' [(ngModel)]='item.StartTime' placeholder='StartTime'>  -->
                     {{item.fee}} 
                </td>
                <td class="align-right">
                     <!-- <input type="text" class='form-control' id='EndTime' [(ngModel)]='item.EndTime' placeholder='EndTime' >  -->
                    <!-- <option [value]='lktpitem.city' *ngFor='let lktpitem of listlkptCountries'> {{lktpitem.CountyLongName}}</option></input> -->
                  {{item.advance}} 
                </td>
                <td class="align-right">
                     <!-- <input type='text' class='form-control' id='StartPostDuration' [(ngModel)]='item.StartPostDuration' placeholder='StartPostDuration'>  -->
                   {{item.balance}}
                </td>
                <td class="align-right">
                  <!-- <input type='text' class='form-control' id='EndPostDuration' [(ngModel)]='item.EndPostDuration' placeholder='EndPostDuration'>  -->
                     {{item.note}} 
                </td>
                <td class="align-right">
                    <!-- <input type='text' class='form-control' id='PostNature' [(ngModel)]='item.PostNature' placeholder='PostNature'>  -->
                    {{item.lawyerFor}} 
                </td>
              
                <td class="align-right">
                    <DIV class="btn-group">
                        <button ngClass="status-button btn btn-xs btn-primary" (click)="onSelect(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button ngClass="status-button btn btn-xs btn-danger" (click)="onDelete(item)"><i class="fa fa-trash-o"></i></button>

                    </DIV>      
                </td>
            </tr>
        </tbody>
        
        
    </table>

</div>