<div class="from-group row">
  <div class="col-sm-12">
    <div class="form-group has-success col-sm-6">
      <label for="inputAccountNo" class="form-control-label">Event Name</label>
      <input
        type="text"
        class="form-control"
        id="inputAccountNo"
        [(ngModel)]="objeventcalendar.eventName"
        placeholder="Event Name"
        required
      />
    </div>
    <div class="form-group has-success col-sm-6">
      <label for="inputAccountNo" class="form-control-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="inputAccountNo"
        [(ngModel)]="objeventcalendar.description"
        placeholder="Description"
        required
      />
    </div>
  </div>
</div>
<div class="from-group row">
  <div class="col-sm-12">
    <div class="form-group has-success col-sm-6">
      <label for="inputAccountNo" class="form-control-label">Start Time</label>
      <input
        type="text"
        class="form-control"
        id="inputAccountNo"
        [(ngModel)]="objeventcalendar.startTime"
        placeholder="Start Time"
        required
      />
    </div>
    <div class="form-group has-success col-sm-6">
      <label for="inputAccountNo" class="form-control-label">End Time</label>
      <input
        type="text"
        class="form-control"
        id="inputAccountNo"
        [(ngModel)]="objeventcalendar.endTime"
        placeholder="End Time"
        required
      />
    </div>
  </div>
</div>
<div class="form-group has-success col-sm-12">
  <label for="inputAccountNo" class="form-control-label">Priority</label>
  <select class="form-control" [(ngModel)]="objeventcalendar.priority">
    <option value="" selected>Select Priority</option>
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>
  <!-- <input
    type="text"
    class="form-control"
    id="inputAccountNo"
    [(ngModel)]="objeventcalendar.priority"
    placeholder="description"
    required
  /> -->
</div>

<div class="row" style="padding: 20px">
  <div class="col-md-3">
    <button class="btn btn-primary btn-block" (click)="onSave()">Save</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-block" (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>
