
<div class="table-responsive panel panel-success ">
    <table  class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>                
                <th class="text-center" style="background-color:#3c8dbc;color: white;">Groups</th>
            </tr>
        </thead>
        <tbody>
            <ul *ngFor="let item of listgroup" >
                <li class="text-center" (click)="onGroupSelection(item.groupId)" style="cursor: pointer; list-style:none;">
                   {{item.name}}
               
                </li>
            </ul>
        </tbody>
    </table>
</div>

   