
<div class="table-responsive panel panel-success">
    <table  class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>                
                <th class="text-center" style="background-color:linen">Groups</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listgroup">
                <td class=" text-center" (click)="onGroupSelection(item.groupId) " style="cursor: pointer;">
                   {{item.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

   