.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 420px;
    margin: auto;
    text-align: left;
    font-family: arial;
    border-radius: 10px;
    padding: 16px 22px;
    overflow-x: auto;
  }
  .form-control:focus {
    border: 2px solid rgb(77, 143, 79);
  }