

<div class="row">
 <div class="col-md-2" >
  <div class="card-header"></div>
  <div class="card-body">
      <div>
          <app-grouplist (notifyGroup)="onSelectGroup($event)">
        </app-grouplist>
      </div>
    </div>

</div>
  <div class="col-md-10">
    <div class="card-header"></div>
    <div class="card-body"  >
      <div *ngIf="listchat">
       
        <app-list-chat [listchildchat]="listchat"  (notifySelect)="onSelect($event)" (notifyDelete)="onDelete($event)">
        </app-list-chat>
    </div>

    </div>
    <div class="row">
      <div class="col-md-6" >
        <div class="card-header"></div>
        <div class="card-body" >
            <div *ngIf="objchat">
                <app-edit-chat [objeditchat]="objchat"   (notifyCreate)='onCreate($event)' 
                (notifyUpdate)='onUpdate($event)'>
              </app-edit-chat>
            </div>
        </div>
      </div>
      </div>
  </div> 
  
</div>


 