

<div class="table-responsive panel panel-success">
    <table  class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>                
                <th class="text-center" style="background-color: #3c8dbc;color: white;">Chat</th>
            </tr>
        </thead>
        <tbody>
            <ul *ngFor="let item of listchildchat">
                <li style="list-style: none;"  class="direct-chat-timestamp float-right">
                {{item.addedDate}}
                </li>
                <li class="" style="list-style: none;" class="direct-chat-text">
                    {{item.plainMessage}}
                    
                </li>
                <li style="list-style: none;" >{{item.createdBy}}</li>
            </ul>
        </tbody>
        
        
    </table>
    
</div>
