
tbody { display: block; }

tbody {
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
li{
    list-style: none; 
   
}
.gcolor{
    margin:  0px 50px 0px;
}
.gcolor li{
    background-color: rgb(226, 222, 222);
    padding-left:50px;
  
}

.bcolor li{
   /* // background-color: rgb(145, 188, 245); */
   border: 2px solid#3c8dbc;
    padding-left:50px;
}