
<div class="table-responsive panel panel-success">
    <table  class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>                
                <th class="text-center" style="background-color: linen;">Chat</th>
            </tr>
        </thead>
        <tbody>
            <ul *ngFor="let item of listchildchat">
                <li class=" text-center" style="list-style: none;">
                    {{item.plainMessage}}
                </li>
            </ul>
        </tbody>
        
        
    </table>
    
</div>
