
<h2>Case Schedule</h2>

<div class="form-group row">
   <div class="col-sm-3">
       <div class="form-group has-success">
           <label for='FixedFor' class='form-control-label'>FixedFor</label>
           <input type='text' class='form-control' id='Title' [(ngModel)]="objparty.fixedFor" placeholder='FixedFor'>
       </div>
       </div>
       <div class="col-sm-3">
           <div class="form-group has-success">
               <label for='Court' class='form-control-label'>Court</label>
               <input type='text' class='form-control' id='Title' [(ngModel)]="objparty.court" placeholder='Court'>
           </div>
           </div>
           <div class="col-sm-3">
               <div class="form-group has-success">
                   <label for='DateTime' class='form-control-label'>DateTime</label>
                   <input type='datetime-local' class='form-control' id='Title' [(ngModel)]="objpart.dateTime" placeholder='DateTime'>
               </div>
               </div>
               <div class="col-sm-3">
                   <div class="form-group has-success">
                       <label for='assignedTo' class='form-control-label'>assignedTo</label>
                       <input type='text' class='form-control' id='Title' [(ngModel)]="objparty.assignedTo" placeholder='assignedTo'>
                   </div>
                   </div>
             

           </div> 
           <!-- <app-edit></app-edit> -->