<table>
    <tbody>
        <tr>
            <td>
                <input type='text' class='form-control' id='fixedFor' [(ngModel)]="ObjSchedule.fixedFor"
                    placeholder='fixedFor'>
            </td>
            <td>
                <input type='text' class='form-control' id='court' [(ngModel)]="ObjSchedule.court" placeholder='court'>
            </td>

            <td>
                <input type='datetime-local' class='form-control' id='date' [(ngModel)]="ObjSchedule.date"
                    placeholder='dateTime'>
            </td>
            <td>
                <input type='text' class='form-control' id='assignedTo' [(ngModel)]="ObjSchedule.assignedTo"
                    placeholder='assignedTo'>
            </td>

        </tr>
    </tbody>
</table>
