 <h2>Parties</h2>
 <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
 <button  Class="fa fa-plus"(click)="fun()"></button>
<div class="form-group row">
    <div class="col-sm-3">
        <div class="form-group has-success">
            <label for='Title' class='form-control-label'>Name</label>
            <input type='text' class='form-control' id='Title' [(ngModel)]=" objUserCase.name" placeholder='Name'>
        </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group has-success">
                <label for='Title' class='form-control-label'>FatherName</label>
                <input type='text' class='form-control' id='Title' [(ngModel)]="objUserCase.fatherName" placeholder='FatherName'>
            </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <label for='Title' class='form-control-label'>Address</label>
                    <input type='text' class='form-control' id='Title' [(ngModel)]="objUserCase.address" placeholder='Address'>
                </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-success">
                        <label for='Title' class='form-control-label'>Contact</label>
                        <input type='text' class='form-control' id='Title' [(ngModel)]="objUserCase.contact" placeholder='Contact'>
                    </div>
                    </div>
              
    
    
               <!-- <div formArrayName="parties">
                <div *ngFor="let item of parties.objcase; let i=firtparty">
                    <div [formGroupName]="i">
                        <input type="text" placeholder="Enter Link" formControlName="subtask">
                    </div>
                    <div>
                        <a class="btn btn-danger btn-sm" (click)="removeLink(i)">REMOVE</a>
                        <a class="btn btn-success btn-sm" (click)="addLink()">Add</a>
                    </div>
                </div>
            </div> -->
               <!-- < click=(onNew('firtparty'))></click> -->
            </div> 