  @import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

body {
  font-family: 'Muli', sans-serif;
  background: #F5F5F6;
}
.rounded{
  border-radius: 50%;
}
.circle {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.imad {
  border: 1px solid #111;
}
.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 800px;
  margin: auto;
  text-align: left;
  font-family: arial;
  border-radius: 10px;
  padding: 12px 22px;
  overflow-x: auto;
}

.form-control:focus {
  border: 2px solid rgb(77, 143, 79);
}
