<h2>Case Nature</h2>
<div class="form-group row">
    <div class="col-sm-6">
        <div class="form-group has-success">
            <label for='Name' class='form-control-label'>Name</label>
            <input type='text' class='form-control' id='Title' [(ngModel)]="casenature.name" placeholder='Name'>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-success">
                <label for='Title' class='form-control-label'>Title</label>
                <input type='text' class='form-control' id='Title' [(ngModel)]="casenature.title" placeholder='Title'>
            </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">
                 <button class ="btn btn-success btn-block"(click)="onSave()">Save</button>
                   </div>
            </div> -->
        </div>