<div class="form-group row">
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='Name' class='form-control-label'>Name</label>
            <input type='text' class='form-control' id='Title' [(ngModel)]="casenature.name" placeholder='name'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='Title' class='form-control-label'>Title</label>
            <input type='text' class='form-control' id='Title' [(ngModel)]="casenature.title" placeholder='title'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='FirNo' class='form-control-label'>FirNo</label>
            <input type='text' class='form-control' id='FirNo' [(ngModel)]="casenature.firNo" placeholder='firNo'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='PoliceStation' class='form-control-label'>PoliceStation</label>
            <input type='text' class='form-control' id='PoliceStation' [(ngModel)]="casenature.policeStation"
                placeholder='policeStation'>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group has-success">
            <label for='Statute' class='form-control-label'>Statute</label>
            <input type='text' class='form-control' id='Title' [(ngModel)]="casenature.statute" placeholder='statute'>
        </div>
    </div>

</div>