
  <mk-tabs tabsColor="#3c763d">
    <mk-tab header="Case Info">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="form-group has-success">
                    <label for='Title' class='form-control-label'>Title</label>
                    <input type='text' class='form-control' id='Title' [(ngModel)]="objcase.caseTitle" placeholder='Title'>
                </div>
                </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-4">
                <div class="form-group has-success">
                    <label for='CaseCode' class='form-control-label'>caseCode</label>
                    <input type='text' class='form-control' id='CaseCode' [(ngModel)]="objcase.caseCode" placeholder='CaseCode'>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group has-success">
                    <label for='LawyerFor' class='form-control-label'>lawyerFor</label>
                    <!-- <input type='text' class='form-control' id='LawyerFor' [(ngModel)]='objcase.lawyerFor' placeholder='LawyerFor'> -->
                
        <select class='form-control' id='LawyerFor' [(ngModel)]="objcase.lawyerFor" placeholder='LawyerFor'>
            <option value=""disabled selected hidden>Select</option>
            <option value="Applicant">Applicant</option>
            <option value="Accused">Accused</option>
            <option value="Tax fair">Tax fair</option>
            <option value="Responded">Responded</option>
         
          </select>
                </div>
            </div>
        </div>
        <h2>Parties</h2>   
        <!-- access child through parent-->
          <div *ngIf="objcase.listParties">
                <div *ngFor="let item of objcase.listParties">
                    <div *ngIf="item.partyType==='FirstParty'">
                        <app-parties [objparty]="item"></app-parties>
                    </div>
                    </div>
                <button class="fa fa-plus" (click)="addParty('FirstParty')">Add Parties</button>

                <button (click)="onRemoveParty(index)">Remove</button>
        </div>  
        <br>
        <br>
        <h2>OpponentParty</h2>
        <!-- <app-opponent-parties></app-opponent-parties>  -->
          <div *ngIf="objcase.listParties">
            <div *ngFor="let item of objcase.listParties">
                <div *ngIf="item.partyType==='OpponentParty'">
                    <app-parties [objparty]="item"></app-parties>
                  
            </div>
        </div>
            <button class="fa fa-plus" (click)="addParty('OpponentParty')">Add OpponentParties</button>
    </div> 
    <br>
    <br>
         <div class="row">
            <div class="col-md-2">
             <button class ="btn btn-success btn-block"(click)="onSave()">Save</button>
               </div>
               
            <!-- <div class="col-md-2">
                <button class="btn btn-primary btn-block"(click)="onCancel()">Cancel</button>
            </div> -->
        </div>
         
 
  
         <br>
    </mk-tab>
    <mk-tab header="Case schedule "> 
      <div *ngIf="objcase.listSchedule">
       <div *ngFor="let item of objcase.listSchedule">
     <app-case-schedule [ObjSchedule]="item">
        </app-case-schedule> 
    </div>
    <button class="fa fa-plus" (click)="addSchedule()">Add Schedule</button>
</div>
       </mk-tab>
    <mk-tab header="Case Nature">
     <app-case-nature></app-case-nature>
    </mk-tab>
    <mk-tab header="Case Clause ">
      this is case clause page.
     </mk-tab>
     <mk-tab header="Case History ">
      this is Case History page.
     </mk-tab>
    
     <mk-tab header="Case Drafts ">
      this is Case Drafts page.
     </mk-tab>
     <mk-tab header="Case Invoices ">
      this is Case Invoices.
     </mk-tab>
    </mk-tabs>





<app-opponent-lawyer></app-opponent-lawyer>   




 