<mk-tabs tabsColor="#3c763d">
    <mk-tab header="Case Info">
        <div class="form-group row">
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <label for='CaseTitle' class='form-control-label'>CaseTitle</label>
                    <input type='text' class='form-control' id='Title' [(ngModel)]="objcase.caseTitle"
                        placeholder='CaseTitle'>
                </div>
            </div>
        
        <div class="form-group row">
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <label for='CaseCode' class='form-control-label'>caseCode</label>
                    <input type='text' class='form-control' id='CaseCode' [(ngModel)]="objcase.caseCode"
                        placeholder='CaseCode'>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <label for='LawyerFor' class='form-control-label'>lawyerFor</label>
                    <!-- <input type='text' class='form-control' id='LawyerFor' [(ngModel)]='objcase.lawyerFor' placeholder='LawyerFor'> -->

                    <select class='form-control' id='LawyerFor' [(ngModel)]="objcase.lawyerFor" placeholder='LawyerFor'>
                        <option value="" disabled selected hidden>Select</option>
                        <option value="Applicant">Applicant</option>
                        <option value="Accused">Accused</option>
                        <option value="Tax fair">Tax fair</option>
                        <option value="Responded">Responded</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
        <h2>Parties</h2>
        <!-- access child through parent-->
        <div *ngIf="objcase.listParties">
            <div style="float: right; margin-bottom: 20px;">
                <button class="btn btn-primary" (click)="addParty('FirstParty')">Add Parties</button>
            </div>


            <table class="table table-striped table-bordered " cellspacing="0">
                <thead>
                    <tr>         
                       <th class="text-center">Name</th>
                       <th class="text-center">FatherName</th>
                       <th class="text-center">Address</th>              
                       <th class="text-center">Contact</th> 
                       <th class="text-center">Remove</th>  
                       <!-- <th class="text-center"> <button class="btn btn-primary" (click)="addParty('FirstParty')">Add Parties</button></th>   -->
                   </tr>        
               </thead>  
            </table>
            <div *ngFor="let item of objcase.listParties;let i=index">
                <div *ngIf="item.partyType==='FirstParty'">
                      <tbody >
                          <tr>
                              <td>
                                <app-parties [objparty]="item"></app-parties>
                              </td>
                              <td>
                                <button class=" btn btn-danger" *ngIf="item.partyType==='FirstParty'" (click)="onRemoveParty(i)">Remove</button> 
                              </td>
                          </tr>
                      </tbody>
                </div>
            </div>
            <br>
            
            <!-- <button (click)="onRemoveParty(index)">Remove</button> -->
        </div>
        <br>
        <h2>OpponentParty</h2>
        <!-- <app-opponent-parties></app-opponent-parties>  -->
        <div *ngIf="objcase.listParties">
            <div *ngFor="let item of objcase.listParties let i=index">
                <div *ngIf="item.partyType==='OpponentParty'">
                    <app-parties [objparty]="item"></app-parties>

                </div>
                <button class=" btn btn-danger"*ngIf="item.partyType==='OpponentParty'" (click)="onRemoveParty(i)">Remove</button>
            </div>
            <br>
            <button class="btn btn-primary" (click)="addParty('OpponentParty')">Add OpponentParties</button>
        </div>
        <br>
        <br>
        <!-- <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success btn-block" (click)="onSave()">Save</button>
            </div> -->

            <!-- <div class="col-md-2">
                <button class="btn btn-primary btn-block"(click)="onCancel()">Cancel</button>
            </div> -->
        <!-- </div> -->



        <br>
    </mk-tab>
    <mk-tab header="Case schedule">
        <h2>Case Schedule</h2>

        <div *ngIf="objcase.listSchedule">
            <br>
            <button style="float: right;" class="btn btn-primary" (click)="addSchedule()">Add Schedule</button>
            <br>
            <br>
            <table class="table table-striped table-bordered " cellspacing="0">
                <thead>
                    <tr>         
                       <th class="text-center">FixedFor</th>
                       <th class="text-center">Court</th>
                       <th class="text-center">DateTime</th>              
                       <th class="text-center">AssignedTo</th>  
                   </tr>        
               </thead>  
            </table>
            <div *ngFor="let item of objcase.listSchedule let i=index">
                                 
                     <app-case-schedule  [ObjSchedule]="item" >  
                    </app-case-schedule>   
                    <br> 
                    <button class="btn btn-danger" (click)="onRemoveSchedule(i)">Remove</button>
                    <br>
                </div>
        </div>

        <br>
        <br>
        <app-viewschedule>

        </app-viewschedule>

    </mk-tab>

    <mk-tab header="Case Nature">
        <div *ngIf="objcase.listCaseNature">
            <h2>Case Nature</h2>
            <br>
       <button class="btn btn-primary" (click)="addNature()">Add Nature</button> 
            <br>
            <br>
            <div *ngFor="let item of objcase.listCaseNature">

                <app-case-nature [casenature]="item" (notifyCaseNatureSelect)="onSelect($event)"></app-case-nature>
            </div>
           
        </div>
        <app-viewnature (notifyCaseNatureSelect)="onSelect($event)"></app-viewnature>
    </mk-tab>
    <mk-tab header="Case Clause ">
        <div *ngIf="objcase.listClauses">
            <h2>Case Clause</h2>
            <br>
            <button class="btn btn-primary" (click)="addClause()">Add Clause</button> 
            <br>
            <br>
            <div *ngFor="let item of objcase.listClauses">

                <app-caseclause [caseclause]="item"></app-caseclause>
            </div>
        </div>
      <app-viewclause></app-viewclause>
    </mk-tab>
    <mk-tab header="Case History ">
        <div *ngIf="objcase.listHistory">
            <h2>Case History</h2>
            <br>
           <button class="btn btn-primary" (click)="addHistory()">Add History</button> 
            <br>
            <br>
            <div *ngFor="let item of objcase.listHistory">

                <app-case-history [casehistory]="item"></app-case-history>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2" style="float: right;">
                <button class="btn btn-success btn-block" (click)="onSave()">Save</button>
            </div>
            <!-- <div class="col-md-2">
                <button class="btn btn-primary btn-block"(click)="onCancel()">Cancel</button>
            </div> -->
        </div>
        <br>
        <app-viewhistory></app-viewhistory>
    </mk-tab>

    <mk-tab header="Case Drafts ">
        this is Case Drafts page.
    </mk-tab>
    <mk-tab header="Case Invoices ">
        this is Case Invoices.
    </mk-tab>


</mk-tabs>
