.round {
    margin-left: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
}
.circle {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
