
  <div class="circle">
    <label>
      <img *ngIf="imageUrl" [src]="imageUrl" class="circle" alt="Cinque Terre">
      <!-- <i class="fa fa-upload"> -->
        <i class="fa fa-upload" aria-hidden="true"></i>
        <input  style="visibility: hidden; position: absolute;"  #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
      <!-- </i> -->
      <!-- <span>Upload Image</span> -->
      <!-- <input class=" btn btn-primary" #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)"> -->
    </label>    
  </div>
   <div class="col-sm-2">
      <div class="form-group has-success" >
        <i class=" fa fa-download" aria-hidden="true" (click)="onImageDownload()"></i>
        </div></div>
  <!-- <div *ngIf="selectedFile" class="img-preview-container">
  
    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>
  
    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
      <div class="img-spinning-circle"></div>
    </div>
  
    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
  </div> -->
