<table>
    <tbody>
      <tr>
        <td>
          <input style="width: 200px;"
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="opponentlawyer.name"
            placeholder="Name"
          />
        </td>
        <td>
          <input style="width: 250px;"
            type="text"
            class="form-control"
            id="Title"
            [(ngModel)]="opponentlawyer.courtAddress"
            placeholder="CourtAddress"
          />
        </td>
  
        <td>
          <input style="width:270px;"
            type="text"
            class="form-control"
            id="Title"
            [(ngModel)]="opponentlawyer.officeAddress"
            placeholder="OfficeAddress"
          />
        </td>
        <td>
          <input style="width: 270px;"
            type="text"
            class="form-control"
            id="Title"
            [(ngModel)]="opponentlawyer.contact"
            placeholder="contact"
          />
        </td>
      </tr>
    </tbody>
  </table>
  

  