<table>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            class="form-control name"
            id="name"
            [(ngModel)]="opponentlawyer.name"
            placeholder="Name"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control courtAddress"
            id="Title"
            [(ngModel)]="opponentlawyer.courtAddress"
            placeholder="CourtAddress"
          />
        </td>
  
        <td>
          <input 
            type="text"
            class="form-control officeAddress"
            id="Title"
            [(ngModel)]="opponentlawyer.officeAddress"
            placeholder="OfficeAddress"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control contact"
            id="Title"
            [(ngModel)]="opponentlawyer.contact"
            placeholder="contact"
          />
        </td>
      </tr>
    </tbody>
  </table>
  

  