<div class="col-sm-12 card bg-light mb-3">
  <div class="card-body" *ngIf="mode === 'Form'">
    <div *ngIf="objClient">
      <app-edit2
        [objClient]="objClient"
        (notifyCreate)="onCreate($event)"
        (notifyUpdate)="onUpdate($event)"
        (notifyCancel)="onCancel()"
      >
      </app-edit2>
    </div>
  </div>
</div>
<div class="col-sm-12 card bg-light mb-3">
  <div class="card-body" *ngIf="mode === 'List'">
    <div *ngIf="listClient">
      <app-list2
        [listClient]="listClient"
        (notifyshowedit)="showedit()"
        (notifySelect)="onSelect($event)"
        (notifyDelete)="onDelete($event)"
      >
      </app-list2>
    </div>
  </div>
</div>
