<!-- 
<h2>Case Schedule</h2>

<div class="form-group row">
   <div class="col-sm-3">
       <div class="form-group has-success">
           <label for='FixedFor' class='form-control-label'>FixedFor</label>
           <input type='text' class='form-control' id='Title' [(ngModel)]="ObjSchedule.fixedFor" placeholder='FixedFor'>
       </div>
       </div>
       <div class="col-sm-3">
           <div class="form-group has-success">
               <label for='Court' class='form-control-label'>Court</label>
               <input type='text' class='form-control' id='Title' [(ngModel)]="ObjSchedule.court" placeholder='Court'>
           </div>
           </div>
           <div class="col-sm-3">
               <div class="form-group has-success">
                   <label for='DateTime' class='form-control-label'>DateTime</label>
                   <input type='datetime-local' class='form-control' id='Title' [(ngModel)]="ObjSchedule.dateTime" placeholder='DateTime'>
               </div>
               </div>
               <div class="col-sm-3">
                   <div class="form-group has-success">
                       <label for='assignedTo' class='form-control-label'>assignedTo</label>
                       <input type='text' class='form-control' id='Title' [(ngModel)]="ObjSchedule.assignedTo" placeholder='assignedTo'>
                   </div>
                   </div>
             
                   <div class="row">
                    <div class="col-md-2">
                     <button class ="btn btn-success btn-block"(click)="onSave()">Save</button>
                       </div>
                    </div>
           </div> 
          -->