<h3>Event List</h3>
<div class="table-responsive panel panel-success">
  <table class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th class="text-center">Event Name</th>
        <th class="text-center">Start Time</th>
        <th class="text-center">End Time</th>
        <th class="text-center">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listchildevent">
        <td class="text-center">
          {{ item.eventName }}
        </td>
        <td class="text-center">
          {{ item.startTime }}
        </td>
        <td class="text-center">
          {{ item.endTime }}
        </td>
        <td class="text-center">
          {{ item.priority }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
