
    <div class="col-sm-12 card bg-light mb-3" >
      <div class="card-header">Case List</div>
        <div class="card-body" *ngIf="mode==='List'">
            <div *ngIf="listUserCase">
                <app-Caselist [childlist]="listUserCase"(notifyshowedit)="showedit()" (notifySelect)="onSelect($event)" (notifyDelete)="onDelete($event)">
                </app-Caselist>
            </div>
        </div>
      </div>
      
    <div class="col-sm-12 card bg-light mb-3" >
      <div class="card-header">Case Edit</div>
        <div class="card-body" *ngIf="mode==='Form'">
            <div *ngIf="objUserCase">
                <app-Caseedit [objcase]="objUserCase" (notifyCreate)="onCreate($event)"   >
                </app-Caseedit>
            </div>
        </div>
      </div> 

     
      <!-- <app-Caseedit></app-Caseedit> -->
    <!-- <mk-tabs tabsColor="#3c763d">
      <mk-tab header="Case Info">
    <app-Caseedit></app-Caseedit>
    
<!--     
    <ul>
      <li *ngFor=item case.parties>
      <div ngIf=item.partytype=="FirstParty">
      <partycomponent  @input=item>
      </div>
      </li>
      </ul> -->    
      <!-- [objUserCase]="objUserCase" -->
     <!-- <app-parties></app-parties><br -->
  




     <!-- <app-opponent-parties></app-opponent-parties> -->

    <!-- <app-opponent-lawyer></app-opponent-lawyer>  
      </mk-tab> -->
    
      <!-- <mk-tab header="Case Nature">
       this is case Nature page.
      </mk-tab>
      <mk-tab header="Case Clause ">
        this is case clause page.
       </mk-tab>
       <mk-tab header="Case History ">
        this is Case History page.
       </mk-tab>
       <mk-tab header="Case schedule ">
        this is Case Schedule page.
       </mk-tab>
       <mk-tab header="Case Drafts ">
        this is Case Drafts page.
       </mk-tab>
       <mk-tab header="Case Invoices ">
        this is Case Invoices.
       </mk-tab>
    </mk-tabs>
  
    -->
