
    <div class="col-sm-12 card bg-light mb-3" >
      <div class="card-header"></div>
        <div class="card-body" *ngIf="mode==='List'">
            <div *ngIf="listUserCase">
                <app-Caselist [childlist]="listUserCase"(notifyshowedit)="showedit()" (notifySelect)="onSelect($event)" (notifyDelete)="onDelete($event)">
                </app-Caselist>
            </div>
        </div>
      </div>
      
    <div class="col-sm-12 card bg-light mb-3" >
      <div class="card-header"></div>
        <div class="card-body" *ngIf="mode==='Form'">
            <div *ngIf="objUserCase">
                <app-Caseedit [objcase]="objUserCase" (notifyCreate)="onCreate($event)"  (notifyupdate)="onUpdate($event)" >
                </app-Caseedit>
            </div>
        </div>
      </div> 

          
