<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <p routerLink="/"><b>UNAZ Legal</b> Forum</p>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg" style="color: #fff; font-weight: bolder;
      font-size: 30px;"> Registration</p>


        <div class="form-group has-feedback">
          <input type="text" title="Enter your full name without space " class="form-control" [(ngModel)]="user.fullname" placeholder="Full name" required>
          <span class="glyphicon glyphicon-user form-control-feedback" style="color: #222d32;"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback" style="color: #222d32;"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" class="form-control" [(ngModel)]="user.password" placeholder="Password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback" style="color: #222d32;"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password"  title="Please enter the same Password as above" class="form-control" [(ngModel)]="user.confirmpassword" placeholder="Retype password" (keydown.enter)="register()" required>
          <span class="glyphicon glyphicon-log-in form-control-feedback" style="color: #222d32;"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins></div> I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button (click)="register()" class="btn btn-primary">Register</button>
          </div>
        
          <!-- /.col -->
        </div>


      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#/register" class="btn btn-primary" style="background-color: #3b5998; margin:0 10px;"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#/register" class="btn btn-primary" style="background-color:#dd4b39"><i class="fa fa-google-plus"></i> Google+</a>
      </div>
    
      <a routerLink="/login" class="text-center lock"  >I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div>

</div>
