
 <div class="hold-transition login-page " >
  <div class="login-box">
    <div class="login-logo">
      <p routerLink="/"><b>UNAZ Legal</b> Forum</p>
    
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
    <div class="login-box-body " >
      <p  class="login-box-msg ">Sign In</p>
      <div id="myDIV"></div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" [(ngModel)]="user.username"  placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback" style="color:#222d32;"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" class="form-control" [(ngModel)]="user.password" placeholder="Password"  (keydown.enter)="login()" required>
          <span class="glyphicon glyphicon-lock form-control-feedback" style="color:#222d32"></span>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe" style="right: -10%;">Remember me 
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button (click)="login()"  class="btn btn-primary" style="color: white;" >Sign In</button>
          </div>
          <!-- /.col -->
        </div>


      <div class="social-auth-links text-center">
        <p>- OR -</p>

        <a href="#" class="btn btn-primary" style="background-color: #3b5998; margin:0 10px;" ><i class="fa fa-facebook left"></i> Facebook </a>
        <a href="#" class="btn btn-primary" style="background-color: #dd4b39"><i class="fa fa-google-plus right"></i> Google+ </a>
      </div>
      <!-- /.social-auth-links -->
      
      <a href="#"  class="link-tag">I forgot my password</a><br>
      <a routerLink="/register" class="text-center link-tag" >Register a new membership</a>
       
    </div>
    <!-- /.login-box-body -->
  </div>
</div>
</div>
