
    
           <div class="table-responsive panel panel-success">
            <table class="table table-striped table-bordered " cellspacing="0">
                <thead>
                     <tr>   
                           
                        <th style="background-color:skyblue;" class="text-center">DateTime</th>
                        <th style="background-color:skyblue;" class="text-center">Result</th>
                        <th style="background-color:skyblue;" class="text-center">Decision</th>              
                        <th style="background-color:skyblue;" class="text-center">Action</th>    
                    </tr>        
                </thead>
    
         
                <tbody class="text-center" *ngFor="let item of childlist">
                    <tr *ngFor="let itemchild of item.listHistory">
                        
                        <td class="align-right">
                            {{itemchild.date}} 
                            
                        </td>
                        <td class="align-right">
                             {{itemchild.result}} 
                        </td>
                        <td class="align-right">
                              {{itemchild.decision}} 
                        </td>
                        <td class="align-right">
                            <div class="btn-group">
                                <button ngClass="status-button btn btn-xs btn-primary" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button ngClass="status-button btn btn-xs btn-danger" ><i class="fa fa-trash-o"></i></button>
        
                            </div>      
                        </td>  
                    </tr>
                </tbody>
            </table>
        </div>
