  <div class="col-sm-12">
    <div class="col-sm-6">
      <div class="form-group has-success">
        <label for="inputaffiliation" class="form-control-label"
          >Affiliation</label
        >
        <input
          type="text"
          class="form-control"
          id="inputAffiliation"
          [(ngModel)]="objAff.affiliation"
          placeholder=""
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group has-success">
        <label for="inputaffiliationCode" class="form-control-label"
          >Affiliation No</label
        >
        <input
          type="text"
          class="form-control"
          id="inputAffiliationCode"
          [(ngModel)]="objAff.affiliationCode"
          placeholder=""
        />
      </div>
    </div>
  </div>
