.calendarList {
    background-color: rgb(103, 107, 107);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.calendarList:hover {
    background-color: #222d32;
    color: white;
}
tr > th {
    background: #3c8dbc;
    color: white;
}