/* tbody { 
    display:block;
    max-height:500px;
    overflow-y:auto;
    overflow-x: auto;
 }
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 180% - 1em )
} 
tbody{
    width: calc( 180% - 1em )
}
th{
    background-color: bisque;
} */


.form-control::placeholder  {
    font-family: FontAwesome;
  }
  .form-control:focus {
    border: 2px solid #3c8dbc;
    border-radius: 10px;
  }
  .myInput{
     border-radius: 10px; 
  }